<div class="general-letter crumb">
    <label>Usted está en: <i class="fa fa-home" [routerLink]='["/"]'> <label class="general-letter"> Inicio</label></i>
        /
        Carro de compras</label>
</div>
<h1 class="page-title general-letter">Carro de compras</h1>
<br>
<div class="row">
    <div class="col-md-2">
        <span class="subtitle">Producto</span>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
        <span class="subtitle">Cantidad</span>
    </div>
    <div class="col-md-3">
        <span class="subtitle text-center">Precio</span>
    </div>

</div>
<hr class="my-4" />
<div class="">
    <div class="row">
        <div class="col-md-2" style="padding-left: 0px;">
            <img src="assets/labialMAC.jpg" class="img-product" alt="Image">
        </div>
        <div class="col-md-3">
            <h6><label class="labelV">Labial MAC</label></h6>
        </div>
        <div class="col-md-3">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <button class="btn btn-dark btn-sm" (click)="restQuantity()" id="minus-btn" data-type="minus"><i
                            class="fa fa-minus"></i></button>
                </div>
                <input type="text" class="form-control input-number" min="1" max="100">
                <div class="input-group-prepend">
                    <button class="btn btn-dark btn-sm" (click)="sumQuantity()" id="plus-btn" data-type="plus"><i
                            class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <span class="type-letter typeletter">₡ 2500</span>
        </div>
        <div class="col-md-1">
            <button type="button" class="close deleteBuutton">
                <span class="fa fa-trash"> </span>
            </button>
        </div>
    </div>
</div>

<hr class="my-4" />
<div class="row">
    <p>
        <a [routerLink]='["/"]'>>Continuar comprando</a>
    </p>
</div>
<br>
<br>