.img-product {
    width: 150px;
    height: 120px;
}

.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 100px;
}

a::content {
    color: rgb(45, 105, 37);
    font-size: 18px;
    flood-opacity: initial;
}

.typeletter {
    font-size: 18px;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
}

label {
    font-size: 18px;
}

.labelV-G {
    font-size: 15px;
    font-weight: bold;
}

.labelV {
    font-weight: bold;
}

.deleteBuutton {
    background-color: rgb(41, 41, 41);
    color: #fff;
    cursor: auto;
    margin-left: 20px;
    font-family: "Verdana";
    font-size: 18px;
}