<div class="general-letter crumb">
  <label>Usted está en: <i class="fa fa-home" [routerLink]='["/"]'> <label class="general-letter"> Inicio</label></i> /
    Contacto</label>
</div>

<div>
  <h1 class="page-title general-letter">Contáctenos</h1>
</div>
<br>
<div class='container'>
  <a href="https://www.google.com/maps/search/multiplaza+escazu+costa+rica/@9.9532288,-84.1517891,12.82z">
    <img class="img-fluid" src="assets/mapa.PNG">
  </a>
</div>
<br>
<div class="container general-letter">
  <div class="row">
    <div class="col-sm-4" style="padding: 3%;">
      <div>
        <div class="positionLetter color">
          <a class="subtitle general-letter" style="color: white"><i class="fa fa-users" aria-hidden="true"></i>
            Contactos</a>
        </div>
      </div>
      <div class="general-letter normal-letter">
        <br>
        <i class="fa fa-phone fa-lg paddIcon" aria-hidden="true"></i><label> (506)+ 2494-4621</label><br>
        <div class="divMargin general-letter">
          <div class="container">
            <div class="">
              <label> (506)+ 8574-2362</label><br>
              <label> (506)+ 7863-2102</label><br>
              <label> (506)+ 8788-2121</label>
            </div>
          </div>
        </div>
        
        <i class="fa fa-envelope fa-lg paddIcon" aria-hidden="true"></i><label>info@drag&shop.com</label><br>
        <i class="fa fa-globe fa-lg paddIcon" aria-hidden="true"></i><label>www.drag&shop.com</label><br>
        <label><i class="fa fa-map-marker fa-lg paddIcon" aria-hidden="true"></i>Costa Rica, Escazú, Multiplaza</label>
      <label class="divMargin"> Escazú,primer nivel local 159.</label>

      </div>
      <hr class="my-4">
      <div class="social-icons">
        <a href=""><i class="icon fa fa-facebook"></i></a>
        <a href=""><i class="icon fa fa-instagram"></i></a>
        <i class="icon fa fa-twitter"></i>
        <a href=""><i class="icon fa fa-youtube"></i> </a>
      </div>
    </div>
    <div class="col-sm-8 card general-letter" style="padding: 3%;">
      <form [formGroup]="contactForm">
        <div *ngIf="!serverResponseHandler || !serverResponseHandler.success ">
          <div *ngIf="serverResponseHandler && !serverResponseHandler.success" class="alert alert-danger">
            <strong>Fallo!</strong> {{ serverResponseHandler.message }}
          </div>
        </div>
        <div *ngIf="serverResponseHandler && serverResponseHandler.success " class="success">
          <div class="alert alert-success">
            <strong>Exitoso!</strong> {{ serverResponseHandler.message }}
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="form-group">
            <div class="input-group-prepend">
              <span class="input-group-text normal-text">Persona <span class="requiered">*</span></span>
            </div>
          </div>
          <div class="form-group">
            <input type="text" formControlName="firstName" required class="form-control border1 normal-text"
              placeholder="Nombre"
              [ngClass]="{'is-invalid': contactForm.get('firstName').touched && contactForm.get('firstName').invalid}">
            <div *ngIf="contactForm.get('firstName').touched && contactForm.get('firstName').invalid"
              class="invalid-feedback">
              <div *ngIf="contactForm.get('firstName').errors.required">Nombre es requerido</div>
              <div *ngIf="contactForm.get('firstName').errors.pattern">Solo se permiten letras</div>
              <div *ngIf="contactForm.get('firstName').errors?.maxlength">Máximo 50 dígitos </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control border1 normal-text" placeholder="Apellido"
              formControlName="lastName"
              [ngClass]="{'is-invalid': contactForm.get('lastName').touched && contactForm.get('lastName').invalid}">
            <div *ngIf="contactForm.get('lastName').touched && contactForm.get('lastName').invalid"
              class="invalid-feedback">
              <div *ngIf="contactForm.get('lastName').errors.required">Apellido es requerido</div>
              <div *ngIf="contactForm.get('lastName').errors.pattern">Solo se permiten letras</div>
              <div *ngIf="contactForm.get('lastName').errors?.maxlength">Máximo 50 dígitos </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Numero de teléfono o celular: </label><span class="requiered">*</span>
          <input class="form-control input-group border1 normal-text" type="text" required placeholder="XXXX-XXXX"
            formControlName="phoneNumber"
            [ngClass]="{'is-invalid': contactForm.get('phoneNumber').touched && contactForm.get('phoneNumber').invalid}">
          <div *ngIf="contactForm.get('phoneNumber').touched && contactForm.get('phoneNumber').invalid"
            class="invalid-feedback">
            <div *ngIf="contactForm.get('phoneNumber').errors.required">Teléfono es requerido</div>
            <div *ngIf="contactForm.get('phoneNumber').errors.pattern">Teléfono debe ser válido</div>
            <div *ngIf="contactForm.get('phoneNumber').errors?.maxlength">Máximo 8 números</div>
          </div>
        </div>
        <div class="form-group">
          <label> Correo electrónico: </label>
          <span class="requiered">*</span><br>
          <div class="input-group mb-3">
            <input class="form-control formControlName border1 normal-text" type="text" formControlName="email" required
              placeholder="Su correo electrónico"
              [ngClass]="{'is-invalid': contactForm.get('email').touched && contactForm.get('email').invalid}">
            <div class="input-group-append ">
              <span class="input-group-text normal-text">@ejemplo.com</span>
            </div>
            <div *ngIf="contactForm.get('email').touched && contactForm.get('email').invalid" class="invalid-feedback">
              <div *ngIf="contactForm.get('email').errors.required">Correo es requerido</div>
              <div *ngIf="contactForm.get('email').errors.email">Correo debe ser valido</div>
              <div *ngIf="contactForm.get('email').errors?.maxlength">Máximo 100 dígitos </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="comment"> Mensaje:</label>
          <span class="requiered">*</span>
          <textarea class="form-control border1 normal-text" rows="5" id="comment" type="text" formControlName="message"
            required
            [ngClass]="{'is-invalid': contactForm.get('message').touched && contactForm.get('message').invalid}"></textarea>
          <div *ngIf="contactForm.get('message').touched && contactForm.get('message').invalid"
            class="invalid-feedback">
            <div *ngIf="contactForm.get('message').errors.required">Mensaje es requerido</div>
            <div *ngIf="contactForm.get('message').errors?.maxlength">Máximo 400 dígitos </div>
          </div>
        </div>
        <div class=container>
          <div class="row float-right">
            <button (click)="sendEmail()" class="btn center"
              [disabled]="!contactForm.valid">ENVIAR
              MENSAJE</button>
            <br>
            <br>
          </div>
        </div>
        <br>
      </form>
    </div>
    <br>
  </div>
  <br><br>
</div>