.sizelabel{
    size: 60px;
    height: 60px;
    background: rgba(78, 76, 76, 0.2);
    color: azure;
    align-content: center;
    font-variant-position: super;
}

.positionLetter{
    text-align: center;
    padding: 15px;
    margin-top: 0%;
}

.centerText{
    text-align: center;
}

.border1 {
    border-top-color: rgb(41, 41, 41);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(41, 41, 41);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(41, 41, 41);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(41, 41, 41);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
}

.requiered {
    color: crimson;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
  
  }

  .color {
    background-color:rgb(41, 41, 41);
  }

  .paddIcon{
      padding: 10px;
  }

  .divMargin{
    margin-left: 10%;
  }


 .social-icons{
   padding:20px 0px;
}

 .social-icons i{
	padding:0px 15px;
    color: #aaa;
    font-size:20px;
}
.social{
    padding: 20px;
}

 .social-icons i:hover{
	color: #E98705; 
}

.crumb {
    padding-top: 20px;
    padding-bottom: 10px;
}

.btn {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
  }

button:hover{
    background: #b36800;
    color: #fff; }