<br>
<h1>Productos</h1>
<br>

<div id="demo">
    <div class="row justify-content-center">
        <div>
            <a [routerLink]='["/"]'> <img id="img" class="img-fluid" src="assets/products/Brocha.png" alt="Brocha"></a>
            <div class="row" class="row justify-content-center">
               <div class="column" style="margin: 2%;" >
                <h6 class="letter">Brochas</h6>
            </div>
            <div class="column" style="margin: 2%;">
            <h6 class="lettterTwo">$20.</h6></div>
            </div>
        </div>


        <div>
            <a [routerLink]='["/"]'> <img id="img" class="img-fluid" src="assets/products/boa.png" alt="Boa"></a>
            <div class="row" class="row justify-content-center">
               <div class="column" style="margin: 2%;" >
                <h6 class="letter">Boa</h6>
            </div>
            <div class="column" style="margin: 2%;">
            <h6 class="lettterTwo">$50.</h6></div>
            </div>
        </div>


        <div>
            <a [routerLink]='["/"]'> <img id="img" class="img-fluid" src="assets/products/Leothard.png" alt="Leotardo"></a>
            <div class="row" class="row justify-content-center">
               <div class="column" style="margin: 2%;" >
                <h6 class="letter">Leotardo</h6>
            </div>
            <div class="column" style="margin: 2%;">
            <h6 class="lettterTwo">$90.</h6></div>
            </div>
        </div>
       
    </div>




</div>