<br>
<h1>Galería</h1>
<br>
<div class="container">
	<div class="row">
		<div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                   data-image='assets/img/gallery_1.jpg'
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src='assets/img/gallery_1.jpg'
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                       data-image="assets/img/gallery_2.jpg" 
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             src="assets/img/gallery_2.jpg" 
                             alt="Another alt text">
                    </a>
                </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                   data-image="assets/img/gallery_3.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/img/gallery_3.jpg"
                         alt="Another alt text">
                </a>
            </div>


            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                       data-image="assets/img/gallery_4.jpg" 
                       data-target="#image-gallery">
                        <img class="img-thumbnail"
                             src="assets/img/gallery_4.jpg" 
                             alt="Another alt text">
                    </a>
                </div>
                

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                   data-image="assets/img/gallery_5.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/img/gallery_5.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                   data-image="assets/img/gallery_6.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/img/gallery_6.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                   data-image="assets/img/gallery_7.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/img/gallery_7.jpg"
                         alt="Another alt text">
                </a>
            </div>



            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                   data-image="assets/img/gallery_8.jpg" 
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/img/gallery_8.jpg" 
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                   data-image="assets/img/gallery_9.jpg" 
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/img/gallery_9.jpg" 
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                   data-image="assets/img/gallery_10.jpg" 
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/img/gallery_10.jpg" 
                         alt="Another alt text">
                </a>
            </div>



            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                   data-image="assets/img/gallery_11.jpg" 
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/img/gallery_11.jpg" 
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Drag"
                   data-image="assets/img/gallery_12.jpg" 
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/img/gallery_12.jpg" 
                         alt="Another alt text">
                </a>
            </div>

 
        </div>


        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
