<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'><i class="fa fa-home"></i> Inicio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-light" [routerLink]='["/"]'>Sobre nosotros</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-light" [routerLink]='["/counter"]'>Productos</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-light" [routerLink]='["/fetch-data"]'>Galería</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-light" [routerLink]='["/fetch-data"]'>Tutoriales</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-light" [routerLink]='["/contact"]'>Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>