<br>
<div class="row">
<br>
  <div class="col-md-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8 littleLetter">
          <h4 class="littleLetter">Carro de compras </h4>
        </div>
        <div class="col-md-4">
          <span style="color:black">
            <i class="fa fa-shopping-cart">
              <b *ngIf="shoppingDetails$ | async">{{(shoppingDetails$ | async).totalProducts}}</b>
              <b *ngIf="!(shoppingDetails$ | async)">0</b>
            </i>
          </span>
        </div>
      </div>
      <div *ngIf="shoppingDetails$ | async">
        <div class="row" *ngFor="let productDeatil of (shoppingDetails$ | async).orderDetails">
          <div class="col-md-8 littleLetter">
            <span>{{productDeatil.name}}</span>
          </div>

          <div class="col-md-4">
            <span>₡ {{ productDeatil.lastPrice * productDeatil.quantity}}</span>
          </div>
        </div>
      </div>
      <div *ngIf="!(shoppingDetails$ | async)">
        <div class="row">
          <div class="col-md-8 littleLetter">
            <span>No hay productos</span>
          </div>

          <div class="col-md-4">
            <span>₡ 0.00</span>
          </div>
        </div>
      </div>
      <hr>
      <p>Total <span class="price" style="color:black">
          <b *ngIf="shoppingDetails$ | async">₡{{(shoppingDetails$ | async).subtotal}}</b>
          <b *ngIf="!(shoppingDetails$ | async)">₡0.00</b>
        </span>
      </p>
    </div>
  </div>


  <div class="col-md-8">
    <form [formGroup]="checkoutForm">
      <div class="row">
        <div class="col-50">
          <h3 class="littleLetter">Detalle de la compra</h3>

          <div class="input-group mb-3">
            <div class="form-group">
              <div class="input-group-prepend">
                <span class="input-group-text normal-text">Persona <span class="requiered">*</span></span>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="firstName" required class="form-control border1 letter">
            </div>
            <div class="form-group">
              <input type="text" class="form-control border1 letter" placeholder="Apellido" formControlName="lastName"
                [ngClass]="{'is-invalid': checkoutForm.get('lastName').touched && checkoutForm.get('lastName').invalid}">
              <div *ngIf="checkoutForm.get('lastName').touched && checkoutForm.get('lastName').invalid"
                class="invalid-feedback">
                <div *ngIf="checkoutForm.get('lastName').errors.required">Apellido es requerido</div>
                <div *ngIf="checkoutForm.get('lastName').errors.pattern">Solo se permiten letras</div>
                <div *ngIf="checkoutForm.get('lastName').errors?.maxlength">Máximo 50 dígitos </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label> Correo electrónico: </label>
            <span class="requiered">*</span><br>
            <div class="input-group mb-3">
              <input class="form-control formControlName border1 letter" type="text" formControlName="email" required
                placeholder="Su correo electrónico"
                [ngClass]="{'is-invalid': checkoutForm.get('email').touched && checkoutForm.get('email').invalid}">
              <div class="input-group-append ">
                <span class="input-group-text letter">@ejemplo.com</span>
              </div>
              <div *ngIf="checkoutForm.get('email').touched && checkoutForm.get('email').invalid"
                class="invalid-feedback">
                <div *ngIf="checkoutForm.get('email').errors.required">Correo es requerido</div>
                <div *ngIf="checkoutForm.get('email').errors.email">Correo debe ser valido</div>
                <div *ngIf="checkoutForm.get('email').errors?.maxlength">Máximo 100 dígitos </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-50">
          <h3 class="littleLetter">Pago</h3>
          <div class="form-group">
            <label for="comment"> Mensaje:</label>
            <span class="requiered">*</span>
            <textarea class="form-control border1 letter" rows="5" id="comment" type="text" formControlName="message"
              required
              [ngClass]="{'is-invalid': checkoutForm.get('message').touched && checkoutForm.get('message').invalid}"></textarea>
            <div *ngIf="checkoutForm.get('message').touched && checkoutForm.get('message').invalid"
              class="invalid-feedback">
              <div *ngIf="checkoutForm.get('message').errors.required">Mensaje es requerido</div>
              <div *ngIf="checkoutForm.get('message').errors?.maxlength">Máximo 400 dígitos </div>
            </div>
          </div>
          <div class="row text-center" *ngIf="(shoppingDetails$ | async)">
            <button (click)="cleanOrder()" routerLinkActive="router-link-active" type="submit"
              class="btn btn-block center" [disabled]="!checkoutForm.valid">Pagar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<br>