.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  

  
  .crumb {
    padding-top: 20px;
    padding-bottom: 10px;
}
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
 
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
  
  }
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }



  .custom-select {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  .select-selected {
    background-color: black;
  }
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }

  a{
    color: black;
    font-size: 16px;
    font-family: "Verdana";
    }

    i{
      color: black;
      font-size: 16px;
      }
    
 

  .normal-text-check{
    color: black;
      font-size: 18px;
  }

 
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: rgb(18, 18, 19);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .rounded {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
   }
  
   .styled-select {
      background:no-repeat 96% 0;
      height: 29px;
      overflow: hidden;
      width: 160px;
   }

   .border1 {
    border-top-color: rgb(41, 41, 41);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(41, 41, 41);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(41, 41, 41);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(41, 41, 41);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
  }


  h2 {
    font-family: "Verdana";
    font-size: 20px;
    text-align: center;
}
h1 {
  font-family: "Verdana";
  font-size: 28px;
  text-align: center;
}
h3 {
  font-family: "Verdana";
  font-size: 18px;
}

.end-payment, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  margin-top: 80px;
}
  .end-payment:hover, .like:hover {
    background: #b36800;
    color: #fff; }