<div class="container">
  <div class="row">

    <!--<ngb-carousel *ngIf="images">-->
    <ngb-carousel>
      <ng-template ngbSlide>
        <!--<img [src]="images[0]" alt="Random first slide"> -->
        <a href="https://elle.mx/belleza/2019/06/06/makeup-drag-queens-favoritas/" target="blank">
          <img class="img-carousel" src="assets/img-news/new_2.png" alt="Noticia 1">
        </a>
        <div class="carousel-caption">
          <h3>ELLE</h3>
          <p>Las colecciones de makeup creadas por nuestras Drag Queens favoritas</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <!--<img [src]="images[0]" alt="Random first slide"> -->
        <a href="https://laverdadnoticias.com/espectaculos/ESCANDALA-Esta-fue-la-ganadora-de-RuPauls-Drag-Race-Season-11-20190607-0097.html"
          target="blank">
          <img class="img-carousel" src="assets/img-news/new_1.jpg" alt="Noticia 2">
        </a>
        <div class="carousel-caption">
          <h3>LA VERDAD</h3>
          <p>¡ESCANDALA! Esta fue la ganadora de RuPaul's Drag Race Season 11</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <!--<img [src]="images[0]" alt="Random first slide"> -->
        <a href="https://laverdadnoticias.com/espectaculos/Red-Rabbit-Duo-Porque-todos-hablan-de-ellas-en-La-Mas-Draga-2-20190517-0043.html"
          target="blank">
          <img class="img-carousel img-fluid" src="assets/img-news/new_3.jpeg" alt="Noticia 3">
        </a>
        <div class="carousel-caption">
          <h3>LA VERDAD</h3>
          <p>Red Rabbit Dúo, ¿Porque todos hablan de ellas en La Más Draga 2?</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <!--<img [src]="images[0]" alt="Random first slide"> -->
        <a href="https://www.soyhomosensual.com/mercadolgbt/una-drag-queen-protagoniza-comercial-de-gillette/"
          target="blank">
          <img class="img-carousel  img-fluid" src="assets/img-news/new_4.png" alt="Noticia 4">
        </a>
        <div class="carousel-caption">
          <h3>HOMOSENSUAL</h3>
          <p>Una drag queen protagoniza comercial de Gillette</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <!--<img [src]="images[0]" alt="Random first slide"> -->
        <a href="https://peopleenespanol.com/celebridades/conoce-a-valentina-la-drag-queen-mexicana-que-trabaja-con-video-de-gloria-trevi/?slide=6225770#6225770"
          target="blank">
          <img class="img-carousel  img-fluid" src="assets/img-news/new_5.jpg" alt="Noticia 5">
        </a>
        <div class="carousel-caption">
          <h3>PEOPLE</h3>
          <p>¿Quién es Valentina, la drag queen mexicana que causó sensación en el video de Gloria Trevi?</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <!--<img [src]="images[0]" alt="Random first slide"> -->
        <a href="https://happyfm.es/television/rupauls-drag-race-10-lip-sync-que-no-te-puedes-perder-173613/"
          target="blank">
          <img class="img-carousel  img-fluid" src="assets/img-news/new_6.jpg" alt="Noticia 6">
        </a>
        <div class="carousel-caption">
          <h3>HAPPY FM</h3>
          <p>"RuPaul's Drag Race": 10 lipsync que no te puedes perder </p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <!--<img [src]="images[0]" alt="Random first slide"> -->
        <a href="https://www.metro.pr/pr/entretenimiento/2019/05/16/llega-a-itunes-la-primera-drag-queen-boricua.html"
          target="blank">
          <img class="img-carousel" src="assets/img-news/new_7.jpg" alt="Noticia 7">
        </a>
        <div class="carousel-caption  img-fluid">
          <h3>METRO</h3>
          <p>Llega a iTunes la primera 'drag queen' boricua</p>
        </div>
      </ng-template>


    </ngb-carousel>
  </div>

  <div class="row">
    <h1 class="h1dif">Historia de Drag&Shop</h1>
    <hr class="my-4">
    <div class="letterJust">
      Drag&Shop es una tienda que nace como acto rebelde ante los estereotipos sociales y
      discriminatorios, desde que tenemos uso de razón, las personas son juzgadas sin
      importar sus emociones o deseos, que si una mujer compra una peluca se está quedando
      calva, que algunas tiendas de zapatos no permiten a un hombre probarselos, que te miran mal
      si vas a comprar maquillaje y sos varón. Sin embargo, con el tiempo se crearon tiendas físicas que respetan la
      diversidad, pero aún existe el peligro latente de ser atacado o juzgado si te ven en ellas
    </div>
  </div>

  <div class="nav justify-content-end">
      <a class="nav-link click " [routerLink]='["/about-us"]'>Ver más...</a>
  </div>

  <div class="row container-p">

    <h1 class="h1dif text-left">Productos</h1>
    <hr class="my-4">

    <div class="row d-flex justify-content-start">

        <div id="product-list" class="card col-lg-3 col-md-4 col-xs-6  rounded" *ngFor="let product of productsAll">
            <a [routerLink]='["/description-product", product.productID]'> 
            <img [src]='product.systemImageUrl' class="card-img-top img-product img-fluid" alt='product.name'> </a>
            <a [routerLink]='["/description-product", product.productID]'>
            <div class="card-footer d-flex d-flex justify-content-between">
              <p class="card-text">{{product.name}}</p>
              <p class="card-text">₡ {{product.lastPrice}}</p>
            </div>
          </a>
          </div>

      
    </div>
  </div>
  <div class="row nav justify-content-end">
      <p>
          <a [routerLink]='["/products"]'>Ver más productos</a>
      </p>
  </div>
</div>