<div class="card">
    <div class="card-body">
        <div class="row typeletter">
            <div class="col-md-12">
                <h2 class="text-center">Resumen de la compra</h2>
            </div>
        </div>
        <hr class="my-4" />
        <div class="row typeletter">
            <div class="col-md-8 ">
                <span>Total de artículos</span>
            </div>
            <div class="col-md-4">
                <span *ngIf="shoppingDetails$ | async">{{(shoppingDetails$ | async).totalProducts}}</span>
                <span *ngIf="!(shoppingDetails$ | async)">₡0.00</span>
            </div>
        </div>
        <div class="row typeletter">
            <div class="col-md-8">
                <span>Subtotal</span>
            </div>
            <div class="col-md-4">
                <div>
                    <span *ngIf="shoppingDetails$ | async">₡{{(shoppingDetails$ | async).subtotal}}</span>
                    <span *ngIf="!(shoppingDetails$ | async)">₡0.00</span>
              
                </div>
            </div>
        </div>
        <div class="row typeletter">
            <div class="col-md-8">
                <span>Impuestos</span>
            </div>
            <div class="col-md-4">
                <div>
                    <span>₡0.00</span>
                </div>
            </div>
        </div>
        <div class="row typeletter">
            <div class="col-md-8">
                <span>Total</span>
            </div>
            <div class="col-md-4">
                <span *ngIf="shoppingDetails$ | async">₡{{(shoppingDetails$ | async).subtotal}}</span>
                <span *ngIf="!(shoppingDetails$ | async)">₡0.00</span>
            </div>
        </div>
        <div class="row typeletter">
            <div class="col-md-8">
                <span>Costo envío</span>
            </div>
            <div class="col-md-4">
                <span>₡0.00</span>
            </div>
        </div>
        <hr class="my-4" />
        <div class="row typeletter">
            <div class="col-md-8">
                <span class="subtitle">Total</span>
            </div>
            <div class="col-md-4">
                    <span *ngIf="shoppingDetails$ | async">₡{{(shoppingDetails$ | async).subtotal}}</span>
                    <span *ngIf="!(shoppingDetails$ | async)">₡0.00</span>    
            </div>
        </div>
        <br><br>
        <div class="row text-center" *ngIf="(shoppingDetails$ | async)">
            <button [routerLink]="['/checkout']" routerLinkActive="router-link-active"  type="submit" class="btn btn-block " data-toggle="modal" data-target="#exampleModal">Comprar</button>
        </div>
        <br>
    </div>
</div>