<br>
<div class="general-letter">
    <label>Usted está en: <i class="fa fa-home" [routerLink]='["/"]'> Inicio</i> / Tutoriales</label>
</div>
<br>
<h1>Videotutoriales sobre maquillaje</h1>
<br>    
 
    <div class="row justify-content-center">

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/plprpn27y60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
    picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/7dpBkN5yEhg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
    picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/mVGajh2fChQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
    picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/xo4LkdLcVx4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
        picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/ALa7l7koINs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
            picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/LSlwVJaZSe4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
                picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/ANWx8sIgHqA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
                    picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/t_Gm5MAC7o0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
                        picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/NlKfknHNsSo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
                            picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/byYaqGul4A4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
                                picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/yFi-rZ4WJdw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
                                    picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/N2IU9aXePqo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
                                        picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div style="padding: 1%;">
            <iframe class="embed-responsive-item" width="320" height="170"
                src="https://www.youtube.com/embed/_ZpEzIIZcFs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
                                            picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>
