label {
    font-family: "Verdana";
    font-size: 18px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
    font-family: "Verdana";
  }
  
  h1 {
    font-size: 28px;
    text-align: center;
    font-family: "Verdana";
  }
  h3 {
    font-size: 17px;
    text-align: center;
    font-family: "Verdana";
  }