<header>
    <nav class="navbar navbar-light bg-light">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <a class="navbar-brand" href="#">
                    <img style="height:200px; width:234px; padding-left: 10%;" class="img-fluid"
                        src="assets/logFace.png">
                </a>
            </div>
            <div class="col-lg-6 col-xs-12">
                <a class="navbar-brand" href="#">
                    <img style="height:150px; width:500px;" class="img-fluid" src="assets/logLetter.png">
                </a>
            </div>
        </div>
    </nav>
</header>