<div class="masthead general-letter" style="background-image: url(assets/taconesF.jpg); ">
    <div class="overlay">
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Contáctenos</h1>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm text-center">
                        <i class="fa fa-envelope fa-2x " aria-hidden="true"></i>
                        <p class="textCen"> info@drag&shop.com </p>
                    </div>
                    <div class="col-sm text-center">
                        <i class="fa fa-phone fa-2x " aria-hidden="true"></i>
                        <div class="container">
                            <div>
                                <p class="textCen ">(506)+ telefonos</p>
                                <p class="textCen ">(506)+ telefonos</p>
                                <p class="textCen ">(506)+ telefonos</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm text-center">
                        <i class="fa fa-map-marker fa-2x " aria-hidden="true"></i>
                        <p class="textCen">Costa Rica, Escazú, Multiplaza Escazú, primer nivel local 159.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>

</div>
<div class="footer-top general-letter">
    <div class="container-fluid">
        <div class="social-icons">
            <a href="https://www.facebook.com/"><i class="icon fa fa-facebook"></i></a>
            <i class="icon fa fa-instagram"></i>
            <i class="icon fa fa-twitter"></i>
            <a href=""><i class="icon fa fa-youtube"></i> </a>
        </div>
    </div>
</div>
<footer class="general-letter">
    <div class="footer" id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-xs-12">
                    <a [routerLink]='["/"]'>
                        <img style="height:246px; width:245px; padding-left: 5%;" class="img-fluid"
                            src="assets/logoFace.png"></a>
                </div>
                <div class="col-lg-3 col-xs-12">
                    <h3>Drag&Shop</h3>
                    <ul>
                        <li><a class="letterLi" [routerLink]='["/"]'>Historia Empresa</a></li>
                        <li><a class="letterLi" [routerLink]='["/"]'>Misión</a></li>
                        <li><a class="letterLi" [routerLink]='["/"]'>Visión</a></li>
                        <li><a class="letterLi" [routerLink]='["/"]'>Contactos</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12 letterLi">
                    <h3>CATEGORÍAS</h3>
                    <ul>
                        <li><a href="#" [routerLink]='["/"]'>Galería</a></li>
                        <li><a href="#" [routerLink]='["/"]'>Tutoriales</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12 letterLi">
                    <h3>NUESTROS PRODUCTOS</h3>
                    <ul>
                        <li> <a href="#" [routerLink]='["/"]'>Productos</a> </li>
                    </ul>
                    <br>
                </div>

            </div>
        </div>
    </div>
</footer>

<div class="footer-bottom general-letter">
    <p>Copyright © 2019. Todos los derechos reservados Drag&Shop</p>
</div>