<div class="container">
  <br>
  <br>
 <form [formGroup]="detailProductForm">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content" >
              <div class="tab-pane active"  *ngFor="let picture of pictures" id="pic-{{picture.systemImageID}}" ><img  class="img-principal" [src]='picture.systemImageUrl'/></div>
              <div class="tab-pane "  *ngFor="let pictures of picturesDeco" id="pic-{{pictures.systemImageID}}"><img class="img-principal" [src]='pictures.systemImageUrl'/></div>
             </div>
             
             <ul class="preview-thumbnail nav nav-tabs" >
               <li class="active" *ngFor="let picture of pictures"><a  [attr.data-target]="'#pic-' + picture.systemImageID" data-toggle="tab"><img  [src]='picture.systemImageUrl' /></a></li>
               <li *ngFor="let pictures of picturesDeco" ><a [attr.data-target]="'#pic-' + pictures.systemImageID" data-toggle="tab" ><img [src]='pictures.systemImageUrl'/></a></li>
             </ul>
						
          </div>
          
    

					<div class="details col-md-6" >
						<h3 class="product-title">{{productDetail?.name}}</h3>
						
						<p class="product-description">{{productDetail?.description}}</p>
						<h4 class="price">Precio actual: <span>₡ {{productDetail?.lastPrice}}</span></h4>
   
            <div class="row margin-top">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="btn btn-dark btn-sm" (click)="less()" id="minus-btn" data-type="minus"><i class="fa fa-minus"></i></div>
                    </div>
                    <input formControlName="quantity" type="text" id="currentQuantity" [(ngModel)]="currentQuantity" name="currentQuantity"
                        class="form-control input-number" min="1" max="70">
                    <div class="input-group-prepend">
                        <div class="btn btn-dark btn-sm" (click)="plus()" id="plus-btn" data-type="plus"><i class="fa fa-plus"></i></div>
                    </div>
                </div>
            </div>
          </div>

        			<div class="row action">
                  <div class="col-md-4">
              <button [routerLink]="['/shopping-cart']" routerLinkActive="router-link-active" (click)="onSubmitProduct()" class="add-to-cart btn btn-default" type="button">Agregar a la compra</button>
            </div>
            </div>
            
					</div>
				</div>
      </div>
      <br>
  <br>
  </form>
  </div> 
  
